h1 {
  margin-top: 20px;
  margin-bottom: 5px;
}
form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 14px;
}

.row > * {
  flex-grow: 1;
}

.file-inputs {
  margin-bottom: 26px;
  color: #e9e0e4;
}

.file-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
