<div class="container">
  <h1>{{ editMode ? "Edit" : "Create" }} Track</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <div class="row file-inputs">
      <div>
        <label for="trackFilePicker">Track*</label>
        <div class="row">
          <input
            type="file"
            #trackFilePicker
            (change)="onTrackPicked($event)"
            accept=".mp3,.wav"
            hidden
          />
          <button
            type="button"
            mat-stroked-button
            (click)="trackFilePicker.click()"
          >
            Upload Track
          </button>
          <span class="file-name">{{ selectedTrackName }}</span>
        </div>
      </div>
      <div>
        <label for="imageFilePicker">Image*</label>
        <div class="row">
          <input
            type="file"
            #imageFilePicker
            (change)="onImagePicked($event)"
            accept=".pjp,.jpg,.pjpeg,.jpeg,.jfif,.png"
            hidden
          />
          <button
            type="button"
            mat-stroked-button
            (click)="imageFilePicker.click()"
          >
            Upload Image
          </button>
          <span class="file-name">{{ selectedImageName }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genreId">
          @for (i of genres; track i.id) {
          <mat-option value="{{ i.id }}">{{ i.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Additional tags</mat-label>
        <input formControlName="additionalTags" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Artist</mat-label>
        <input formControlName="artistName" matInput />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="isPublic" matInput>Public</mat-checkbox>

    <div class="row">
      <button type="button" mat-stroked-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>Back
      </button>
      <button type="submit" mat-stroked-button>
        {{ editMode ? "Edit" : "Create" }}
        <mat-icon>{{ editMode ? "edit" : "add" }}</mat-icon>
      </button>
    </div>
  </form>
</div>
