<div class="navbar-border">
  <div class="container">
    <mat-toolbar>
      <span class="navbar-name"><a routerLink="/">Soundwave</a></span>
      <span class="spacer"></span>
      <button mat-icon-button class="track-list-icon" routerLink="/tracks">
        <mat-icon>library_music</mat-icon>
      </button>
      <button
        mat-icon-button
        class="playlist-list-icon"
        routerLink="/playlists"
      >
        <mat-icon>my_library_books</mat-icon>
      </button>
      <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button> -->
    </mat-toolbar>
  </div>
</div>
