.spacer {
  flex: 1 1 auto;
}
.navbar-name {
  margin-right: 10px;
}
.navbar-name a {
  text-decoration: none;
  color: white;
}
.navbar-border {
  border-bottom: 1px solid white;
}
.mat-toolbar {
  padding: 0;
}
